ConsoleApplication1/ConsoleApplication1/Service References/VehicleService/AbstractVehicleServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:car="http://www.travelport.com/schema/vehicle_v29_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.travelport.com/service/vehicle_v29_0" xmlns:common="http://www.travelport.com/schema/common_v29_0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://www.travelport.com/schema/vehicle_v29_0" name="AbstractVehicleServices" targetNamespace="http://www.travelport.com/service/vehicle_v29_0" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.travelport.com/schema/vehicle_v29_0">
      <xsd:include schemaLocation="VehicleReqRsp.xsd" />
    </xsd:schema>
  </types>
  <message name="VehicleSearchAvailabilityReq">
    <part name="parameters" element="ns1:VehicleSearchAvailabilityReq" />
  </message>
  <message name="VehicleSearchAvailabilityRsp">
    <part name="result" element="ns1:VehicleSearchAvailabilityRsp" />
  </message>
  <message name="VehicleUpsellSearchAvailabilityReq">
    <part name="parameters" element="ns1:VehicleUpsellSearchAvailabilityReq" />
  </message>
  <message name="VehicleUpsellSearchAvailabilityRsp">
    <part name="result" element="ns1:VehicleUpsellSearchAvailabilityRsp" />
  </message>
  <message name="VehicleRetrieveReq">
    <part name="parameters" element="ns1:VehicleRetrieveReq" />
  </message>
  <message name="VehicleRetrieveRsp">
    <part name="result" element="ns1:VehicleRetrieveRsp" />
  </message>
  <message name="VehicleLocationDetailReq">
    <part name="parameters" element="ns1:VehicleLocationDetailReq" />
  </message>
  <message name="VehicleLocationDetailRsp">
    <part name="result" element="ns1:VehicleLocationDetailRsp" />
  </message>
  <message name="VehicleRulesReq">
    <part name="parameters" element="ns1:VehicleRulesReq" />
  </message>
  <message name="VehicleRulesRsp">
    <part name="result" element="ns1:VehicleRulesRsp" />
  </message>
  <message name="VehicleLocationReq">
    <part name="parameters" element="ns1:VehicleLocationReq" />
  </message>
  <message name="VehicleLocationRsp">
    <part name="result" element="ns1:VehicleLocationRsp" />
  </message>
  <message name="VehicleKeywordReq">
    <part name="parameters" element="ns1:VehicleKeywordReq" />
  </message>
  <message name="VehicleKeywordRsp">
    <part name="result" element="ns1:VehicleKeywordRsp" />
  </message>
  <message name="VehicleFaultMessage">
    <part name="fault" element="common:ErrorInfo" />
  </message>
  <message name="VehicleMediaLinksReq">
    <part name="parameters" element="ns1:VehicleMediaLinksReq" />
  </message>
  <message name="VehicleMediaLinksRsp">
    <part name="result" element="ns1:VehicleMediaLinksRsp" />
  </message>
  <portType name="VehicleSearchServicePortType">
    <operation name="service">
      <input message="tns:VehicleSearchAvailabilityReq" />
      <output message="tns:VehicleSearchAvailabilityRsp" />
      <fault name="ErrorInfoMsg" message="tns:VehicleFaultMessage" />
    </operation>
  </portType>
  <portType name="VehicleRetrieveServicePortType">
    <operation name="service">
      <input message="tns:VehicleRetrieveReq" />
      <output message="tns:VehicleRetrieveRsp" />
      <fault name="ErrorInfoMsg" message="tns:VehicleFaultMessage" />
    </operation>
  </portType>
  <portType name="VehicleLocationDetailServicePortType">
    <operation name="service">
      <input message="tns:VehicleLocationDetailReq" />
      <output message="tns:VehicleLocationDetailRsp" />
      <fault name="ErrorInfoMsg" message="tns:VehicleFaultMessage" />
    </operation>
  </portType>
  <portType name="VehicleRulesServicePortType">
    <operation name="service">
      <input message="tns:VehicleRulesReq" />
      <output message="tns:VehicleRulesRsp" />
      <fault name="ErrorInfoMsg" message="tns:VehicleFaultMessage" />
    </operation>
  </portType>
  <portType name="VehicleLocationServicePortType">
    <operation name="service">
      <input message="tns:VehicleLocationReq" />
      <output message="tns:VehicleLocationRsp" />
      <fault name="ErrorInfoMsg" message="tns:VehicleFaultMessage" />
    </operation>
  </portType>
  <portType name="VehicleKeywordsServicePortType">
    <operation name="service">
      <input message="tns:VehicleKeywordReq" />
      <output message="tns:VehicleKeywordRsp" />
      <fault name="ErrorInfoMsg" message="tns:VehicleFaultMessage" />
    </operation>
  </portType>
  <portType name="VehicleUpsellSearchServicePortType">
    <operation name="service">
      <input message="tns:VehicleUpsellSearchAvailabilityReq" />
      <output message="tns:VehicleUpsellSearchAvailabilityRsp" />
      <fault name="ErrorInfoMsg" message="tns:VehicleFaultMessage" />
    </operation>
  </portType>
  <portType name="VehicleMediaLinksServicePortType">
    <operation name="service">
      <input message="tns:VehicleMediaLinksReq" />
      <output message="tns:VehicleMediaLinksRsp" />
      <fault name="ErrorInfoMsg" message="tns:VehicleFaultMessage" />
    </operation>
  </portType>
</definitions>